name: Build
on:
  workflow_dispatch:
  pull_request:
  push:
    branches: [main]
jobs:
  package-library:
    name: Package Library
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.3

      - name: Setup Node.js
        uses: actions/setup-node@v4.0.2
        with:
          node-version: latest

      - name: Setup Yarn
        uses: threeal/setup-yarn-action@v2.0.0
        with:
          version: stable

      - name: Package Workspace
        run: yarn workspace pipx-install-action pack

      - name: Upload Artifact
        uses: actions/upload-artifact@v4.3.1
        with:
          name: pipx-install-action
          path: pipx-install-action/package.tgz

  build-workspaces:
    name: Build Workspaces
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.3

      - name: Setup Node.js
        uses: actions/setup-node@v4.0.2
        with:
          node-version: latest

      - name: Setup Yarn
        uses: threeal/setup-yarn-action@v2.0.0
        with:
          version: stable

      - name: Build Workspaces
        run: |
          yarn workspaces foreach --all --topological run build
          git diff --exit-code HEAD
